{%extends 'base.html'%}

{% load bootstrap3%}
{% load ratings %}

{% block content %}
<div class="container" style="font-family: 'Dosis', sans-serif;" >
  <div class="row mt-4"></div>
  <!-- Grid row -->
  <div class="row"  style="margin-top: 5%;padding: 2%;">

    <!-- Grid column -->
    <div class="col-lg-9">


      <!-- Card -->
<div class="card card-image" style="background-image: url({{project.project_image.url}});background-repeat: no-repeat;background-size: cover;">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div>
    <h2 class="font-weight-bold"><a>{{ project.project_title }}</a></h2>

    <!-- <div class="view view-cascade overlay"> -->
      <!-- {% if project.project_image %}
      <img class="card-img-top" src="{{project.project_image.url}}" alt="{{ project.project_name }}"
       style="max-height: 500px;">
      {% else %}
      <img class="card-img-top" src="https://source.unsplash.com/1600x900/?fun,vacation"
        alt="{{ project.project_name }}">
      {% endif %} -->
      <h2 class="" > <small>{{ project.project_description }}</small> </h2>
    <!-- </div> -->
    <a class="btn btn-lg align-middle btn-outline-default" href="{{project.link}}" target="blank"><i class="fas fa-clone left"></i> View project</a>
    <div class="card-body card-body-cascade text-center">
      <div class="row">
        <div class="col-lg-6 dark-text"><span class="mr-1"> Origin : {{project.country.name}}</span>
            <img src="{{project.country.flag}}" alt=" {{project.country.name}} flag">  </div>

        <div class="col-lg-6 dark-text"> Submitted On : {{project.pub_date|date:"d /m/Y"}}  </div>
      </div>
    
    </div>
  </div>
</div>

</div>


    </div>
    <div class="col-lg-3">
      <div class="card-body card-body-cascade text-center">
        <div class="mt-2 pt-2">
          <h6><small>RATE THIS PROJECT</small> </h6>
        </div>
        {% ratings project %}


       
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
{% endblock %}
